<div>
  <h2 id="page-heading" data-cy="SchoolHeading">
    <span jhiTranslate="schoolPaySettlementApp.school.home.title">Schools</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="schoolPaySettlementApp.school.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-school"
        [routerLink]="['/school/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="schoolPaySettlementApp.school.home.createLabel"> Create a new School </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="schools?.length === 0">
    <span jhiTranslate="schoolPaySettlementApp.school.home.notFound">No Schools found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="schools && schools.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="schoolId">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.schoolId">School Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="schoolCode">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.schoolCode">School Code</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="schoolShortcode">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.schoolShortcode">School Shortcode</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phonenumber">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.phonenumber">Phonenumber</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="address">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.address">Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="schoolName">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.schoolName">School Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="registrationdate">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.registrationdate">Registrationdate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField1">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.freeField1">Free Field 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField2">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.freeField2">Free Field 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="freeField3">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.freeField3">Free Field 3</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isSchoolAccountNumberABSA">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.isSchoolAccountNumberABSA">Is School Account Number ABSA</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="schoolAccountNumber">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.schoolAccountNumber">School Account Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isDeleted">
            <div class="d-flex">
              <span jhiTranslate="schoolPaySettlementApp.school.isDeleted">Is Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let school of schools; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/school', school.id, 'view']">{{ school.id }}</a>
          </td>
          <td>{{ school.schoolId }}</td>
          <td>{{ school.schoolCode }}</td>
          <td>{{ school.schoolShortcode }}</td>
          <td>{{ school.phonenumber }}</td>
          <td>{{ school.address }}</td>
          <td>{{ school.schoolName }}</td>
          <td>{{ school.registrationdate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'schoolPaySettlementApp.RecordStatus.' + school.status }}">{{ school.status }}</td>
          <td>{{ school.freeField1 }}</td>
          <td>{{ school.freeField2 }}</td>
          <td>{{ school.freeField3 }}</td>
          <td>{{ school.isSchoolAccountNumberABSA }}</td>
          <td>{{ school.schoolAccountNumber }}</td>
          <td jhiTranslate="{{ 'schoolPaySettlementApp.DELFLAG.' + school.isDeleted }}">{{ school.isDeleted }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/school', school.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/school', school.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(school)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="schools && schools.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
