<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-school-heading" data-cy="SchoolCreateUpdateHeading" jhiTranslate="schoolPaySettlementApp.school.home.createOrEditLabel">
        Create or edit a School
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.schoolId" for="field_schoolId">School Id</label>
          <input type="text" class="form-control" name="schoolId" id="field_schoolId" data-cy="schoolId" formControlName="schoolId" />
          <div *ngIf="editForm.get('schoolId')!.invalid && (editForm.get('schoolId')!.dirty || editForm.get('schoolId')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('schoolId')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.schoolCode" for="field_schoolCode">School Code</label>
          <input
            type="text"
            class="form-control"
            name="schoolCode"
            id="field_schoolCode"
            data-cy="schoolCode"
            formControlName="schoolCode"
          />
          <div *ngIf="editForm.get('schoolCode')!.invalid && (editForm.get('schoolCode')!.dirty || editForm.get('schoolCode')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('schoolCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.schoolShortcode" for="field_schoolShortcode"
            >School Shortcode</label
          >
          <input
            type="number"
            class="form-control"
            name="schoolShortcode"
            id="field_schoolShortcode"
            data-cy="schoolShortcode"
            formControlName="schoolShortcode"
          />
          <div
            *ngIf="
              editForm.get('schoolShortcode')!.invalid &&
              (editForm.get('schoolShortcode')!.dirty || editForm.get('schoolShortcode')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('schoolShortcode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('schoolShortcode')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.phonenumber" for="field_phonenumber">Phonenumber</label>
          <input
            type="text"
            class="form-control"
            name="phonenumber"
            id="field_phonenumber"
            data-cy="phonenumber"
            formControlName="phonenumber"
          />
          <div *ngIf="editForm.get('phonenumber')!.invalid && (editForm.get('phonenumber')!.dirty || editForm.get('phonenumber')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phonenumber')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.schoolName" for="field_schoolName">School Name</label>
          <input
            type="text"
            class="form-control"
            name="schoolName"
            id="field_schoolName"
            data-cy="schoolName"
            formControlName="schoolName"
          />
          <div *ngIf="editForm.get('schoolName')!.invalid && (editForm.get('schoolName')!.dirty || editForm.get('schoolName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('schoolName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('schoolName')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 3 }"
            >
              This field is required to be at least 3 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('schoolName')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              This field cannot be longer than 200 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.registrationdate" for="field_registrationdate"
            >Registrationdate</label
          >
          <div class="input-group">
            <input
              id="field_registrationdate"
              data-cy="registrationdate"
              type="text"
              class="form-control"
              name="registrationdate"
              ngbDatepicker
              #registrationdateDp="ngbDatepicker"
              formControlName="registrationdate"
            />
            <button type="button" class="btn btn-secondary" (click)="registrationdateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('registrationdate')!.invalid &&
              (editForm.get('registrationdate')!.dirty || editForm.get('registrationdate')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('registrationdate')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'schoolPaySettlementApp.RecordStatus.null' | translate }}</option>
            <option *ngFor="let recordStatus of recordStatusValues" [value]="recordStatus">
              {{ 'schoolPaySettlementApp.RecordStatus.' + recordStatus | translate }}
            </option>
          </select>
          <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.freeField1" for="field_freeField1">Free Field 1</label>
          <input
            type="text"
            class="form-control"
            name="freeField1"
            id="field_freeField1"
            data-cy="freeField1"
            formControlName="freeField1"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.freeField2" for="field_freeField2">Free Field 2</label>
          <input
            type="text"
            class="form-control"
            name="freeField2"
            id="field_freeField2"
            data-cy="freeField2"
            formControlName="freeField2"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.freeField3" for="field_freeField3">Free Field 3</label>
          <input
            type="text"
            class="form-control"
            name="freeField3"
            id="field_freeField3"
            data-cy="freeField3"
            formControlName="freeField3"
          />
        </div>

        <div class="row mb-3">
          <label
            class="form-label"
            jhiTranslate="schoolPaySettlementApp.school.isSchoolAccountNumberABSA"
            for="field_isSchoolAccountNumberABSA"
            >Is School Account Number ABSA</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isSchoolAccountNumberABSA"
            id="field_isSchoolAccountNumberABSA"
            data-cy="isSchoolAccountNumberABSA"
            formControlName="isSchoolAccountNumberABSA"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.schoolAccountNumber" for="field_schoolAccountNumber"
            >School Account Number</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="schoolAccountNumber"
            id="field_schoolAccountNumber"
            data-cy="schoolAccountNumber"
            formControlName="schoolAccountNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="schoolPaySettlementApp.school.isDeleted" for="field_isDeleted">Is Deleted</label>
          <select class="form-control" name="isDeleted" formControlName="isDeleted" id="field_isDeleted" data-cy="isDeleted">
            <option [ngValue]="null">{{ 'schoolPaySettlementApp.DELFLAG.null' | translate }}</option>
            <option *ngFor="let dELFLAG of dELFLAGValues" [value]="dELFLAG">
              {{ 'schoolPaySettlementApp.DELFLAG.' + dELFLAG | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
